@model BerrasBio.Models.Entity.ShowingViewModel

@{
    ViewData["Title"] = "BookTicket";
}

<!--<h2>BookTicket</h2>-->

<h3>Book ticket for: @Model.MovieTitle </h3>

<span>Seats remaining for this showing: @Model.RemainingSeats</span>

@using (Html.BeginForm())
{
    <input name="ShowingID" type="hidden" value="@Model.ID" />
    <label for="NumOfSeats"># seats</label>
    <input name="NumOfSeats" type="number" value="1" min="1" max="@ViewBag.MaxRemainingSeats" />
    <input type="submit" class="btn btn-default" value="Book"/>
}
